<div class="row">
	<div class="col-lg-12" id="product-details">
		<div class="panel panel-danger">
	        <div class="panel-body photo-thumbnail">
	        	<div class="image-container">
	        		<img class="img-responsive" src="{{image}}">
	        	</div>
	            <div class="info-bar title-header">
	            	<i class="fa fa-heart-o fa-2x" style="color:#ff5b57;" ng-click="addFavourites()"></i>
				</div>
	        </div>
	        <div class="panel-footer">
				<div class="product-header" ng-click="goMerchant(shopName)"><b>{{shopName}}</b></div>
				<div class="sub-header">{{promoTitle}}</div>
	        </div>
	        <div class="panel-footer" style="background-color:black">
				<div class="product-header"><b>Terms and Conditions</b></div>
				<div class="sub-header">{{terms}}</div>
	        </div>
	    </div>
	</div>
</div>
