<div class="row">
	<div class="col-lg-12">
		<form>
			<div class="input-group">
				<input id="search-term" type="text" class="form-control" placeholder="Search for Promotions">
				<span id="search-span" class="input-group-addon" ng-click="search()"><i id="search-icon" class="fa fa-search" style="color:white"></i></span>
			</div>
		</form>
	</div>
</div>
<div id="products-list" class="row">
	<div class="col-xs-6" id="column-one">
		<div class="panel panel-danger" ng-repeat="item in searchResultEven" >
            
            <div class="panel-body" ng-click="goProductDetails(item)">
                <img class="img-responsive " src="{{item.Image}}">
            </div>
            <div class="panel-footer" ng-click="goProductDetails(item)">
				<div class="product-header"><b>{{item.ShopName}}</b></div>
				<div class="sub-header">{{item.PromotionTitle1}}</div>
            </div>
        </div>
        <!-- <div class="panel panel-danger">
            
            <div class="panel-body">
                <img class="img-responsive " src="img/skinfood.jpg">
            </div>
            <div class="panel-footer">
				<div class="product-header"><b>Skin Food</b></div>
				<div class="sub-header">2 for 1 Promo</div>
            </div>
        </div> -->
	</div>
	<div class="col-xs-6" id="column-one">
        <div class="panel panel-danger" ng-repeat="item in searchResultOdd">
            
            <div class="panel-body" ng-click="goProductDetails(item)">
                <img class="img-responsive " src="{{item.Image}}">
            </div>
            <div class="panel-footer" ng-click="goProductDetails(item)">
                <div class="product-header"><b>{{item.ShopName}}</b></div>
                <div class="sub-header">{{item.PromotionTitle1}}</div>
            </div>
        </div>
		<!-- <div class="panel panel-danger">
            
            <div class="panel-body">
                <img class="img-responsive " src="img/etude.jpg">
            </div>
            <div class="panel-footer">
				<div class="product-header"><b>Etude House</b></div>
				<div class="sub-header">Buy 1 get 1 Free</div>
            </div>
        </div>
        <div class="panel panel-danger">
            
            <div class="panel-body">
                <img class="img-responsive " src="img/skinfood.jpg">
            </div>
            <div class="panel-footer">
				<div class="product-header"><b>Skin Food</b></div>
				<div class="sub-header">50% off Storewide</div>
            </div>
        </div> -->
	</div>
	
</div>