<!--<div id="products-list" class="row">
    <div class="col-lg-12" id="column-one">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="product-header"><b>My Wishlist</b></div>
            </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">Merchant</th>
                        <th>Promotion Details</th>
                        <th>T&C</th>
                        <th>End Date</th>
                        <th>Share On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fav in favourites">
                        <td><img class="img-resize" src="{{fav.Image}}"></td>
                        <td>{{fav.ShopName}}</td>
                        <td>{{fav.PromotionTitle1}}</td>
                        <td>{{fav.TCText1}}</td>
                        <td>{{fav.EndDate}}</td>
                        <td><i class="fa fa-facebook-official fa-lg" style="color: #242424"></i>   <i class="fa fa-instagram fa-lg" style="color: #242424"></i>   <i class="fa fa-twitter-square fa-lg" style="color: #242424"></i></td>
                    </tr>
                    </tbody>
                </table>

        </div>
    </div>
</div>-->
<div class="row">
    <div class="col-md-12">
        <!— begin panel —>
        <div class="panel panel-info" data-sortable-id="ui-media-object-4">
            <div class="panel-heading" style="background-color: #91D3D1">
                <div class="product-header"><b>My Wishlist</b></div>
            </div>
            <div class="panel-body" ng-repeat="fav in favourites">


                <!--<div class="image-container">
                    <img class="img-responsive" src="{{fav.Image}}">
                </div>-->
                <div style="text-align: right">
                    <button type="button" class="btn btn-primary btn-sm" style="background: #91D3D1; border: none;">Remove <i class="fa fa-times-circle fa-lg" ng-click=""></i></button>
                </div>
                <div style="text-align: center"><img class="img-resize" src="{{fav.Image}}" style="border-radius: 50%">
                </div>

                <div class="panel-footer" style="background-color: #ffffff; border: none;">
                    <div class="wishlist-product-header"><b>{{fav.ShopName}}</b></div>
                    <div class="wishlist-product-sub-header">{{fav.PromotionTitle1}}</div>
                    <div class="wishlist-product-sub-header"><em>T&C:</em> {{fav.TCText1}}</div>
                    <div class="wishlist-product-sub-header"><em>Promotion End Date:</em> {{fav.EndDate}}</div>
                </div>
                <hr>
                <!--<div class="col-md-9 wishlist-item">
                    <div class="row"><div class="product-header" style="color:black"><b>{{fav.ShopName}}</b></div></div>
                    <div class="row"><div class="sub-header" style="color:black"><b style="color:#3a92ab">Details:</b> {{fav.PromotionTitle1}}</em></div><br/></div>
                    <div class="row"><div class="sub-header" style="color:black"><b style="color:#3a92ab">T&C:</b> {{fav.TCText1}}</em></div><br/></div>
                    <div class="row"><div class="sub-header" style="color:black"><b style="color:#3a92ab">End Date:</b> {{fav.EndDate}}</div></div>
                </div>-->
            </div>
        </div>
    </div>
    <!— end panel —>
</div>
</div>

